@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: black;
}

.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexcolumnaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.flexcolumnbetween{
    display: flex;
    flex-direction:column;
    justify-content: space-between; 
}

.flexcolumncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */

header{
    height: 90px;
}

.logo{
    width: 150px;
    height: 65px;
    margin-bottom: 62px;
    margin-left: 28px;
}
.sizelinks{
    width: 35%;
    margin-bottom: 50px;
}

.sizelink12{
    width: 140px ;
    height: 99px;
    margin-right: 10px;
}

.sizelink3{
    width: 140px ;
    height: 99px;
}

.sizelinks .sizelink a{
    text-decoration: none;
}

.colorlink{
    color: black;   
}
.colorlink3{
    color: #0065fc;
    font-weight: bold;
}

.colorlink:hover{
    color: #0065fc;
    transition: 0.2s;
    font-weight: bold;
}

.bordernav{
    border-top: 2px solid transparent;
}

.bordernav:hover {
    border-top: 2px solid #0065fc;
    transition: 0.5s;
}

h1 {
    font-size: 2rem;
}

.title{
    margin-left: 30px;
    margin-bottom: 20px;
}

/* MAIN */

.form {
    width: 400px;
    height: 40px;
    border-radius: 10px;
}


.mapicon{
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    border-radius: 1rem 0 0 1rem;
}

.search {
    height: 40px;
    width: 200px;
    font-size: 1,5em;
    color: black;
    border: 0.5px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
   
}
.form button {
    height: 40px;
    width: 90px;
    background-color: blue;
    border-radius: 0 1rem 1rem 0;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/*FILTRES*/

.margfilter{
    margin: 20px;
}

.filtersection{
    display: flex;
    align-items: center;
}

.filtertitle{
    margin-right: 20px;
}

.filters{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    display:flex;
    align-items: center;
}

.filters button{
    background-color: transparent;
    border:none;
    outline: none;
    padding:0px;
}

.filters i{
    margin:-2px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.filters label{
    font-weight: bold;
    padding: 10px 15px;
}

.filters:hover{
    background-color: #0065fc;
    color: white;
    border-left: transparent;
}

/*INFOS*/

.info{
    display: flex;
    align-items: center;
    margin: 20px;
}

.info i{
    color: #0065fc;
    width: 25px;
    height: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;  
    margin-right: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* HÉBERGEMENT */

/* HOST */

.hosting{
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 10px;
}

.containerpopular, .containerhost{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 15px;
    margin-left: 15px;

}

.hosting i{
    color: #0065fc;
}

.hosting .grey-star{
    color:#deebff;
}


.containerhost{
    grid:1;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-gap:25px;
    grid-template-rows:50px 1fr 1fr auto;
}

.titlehost{
    grid-row:1;
    grid-column: 1/3;
    margin-left:5px;
}

.cardhost{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.cardhost1 {
    grid-column: 1;
    grid-row: 2;
}

.cardhost2{
    grid-column: 2;
    grid-row: 2;

}

.cardhost3{
    grid-column: 3;
    grid-row: 2;    
}

.cardhost4{
    grid-column: 1;
    grid-row: 3;
}

.cardhost5{
    grid-column: 2;
    grid-row: 3;
}

.cardhost6{
    grid-column: 3;
    grid-row: 3;
}


.cardhost:hover{
    cursor:pointer;
    transform:scale(1.05);
}

.imghost{
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height:180px;
}

.cubhost{
    margin-bottom: 5px;
    height: auto;
    
}

.cardhost .cubhost p, h4{
    margin:3px;
}


.more{
    grid-column: 1/3;
    grid-row: 4;
    font-weight: bold;
}

/* POPULAR */

.containerpopular{
    grid:2;
    display: grid;
    grid-template-rows: 50px 25% 25% 25%;
    grid-template-columns: 1fr;
    row-gap: 35px;
    margin-right: 10px;
}

.titlepop{
    grid-row:1;
    padding-top: 13px;
}

.containerpopular .titlepop  i{
    color:black
}

.cardpop{
    background-color: white;
    border-radius: 15px;
    height: 180px;
 }

.cardpop:hover{
    cursor:pointer;
     transform:scale(1.02);
}

.cardpop1{
    grid-row:2;
}

.cardpop2{
    grid-row:3;
}

.cardpop3{
    grid-row:4;
}
    
.imgpop{
    object-fit: fit;
    width: 35%;
    height: 170px;
    border-radius: 15px 0 0 15px;
    margin:5px;
}

.cubpop{
    width: 100%;
}

/* ACTIVITY */

.blocactivity{
    width: 100%;
    height: 550px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.titleact{
    margin-left: 15px;
}

.cardact1{
    width: 23%;
    height: 500px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.cardact1:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.cardact2{
    width: 23%;
    height: 500px;
}

.carddetail2{
    width: 100%;
    height: 260px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
}

.carddetail2:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail3{
    width: 100%;
    height: 230px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.carddetail3:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail5{
    width: 100%;
    height: 260px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
    margin-bottom: 20px;
}

.carddetail5:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail6{
    width: 100%;
    height: 220px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.carddetail6:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.imgact1{
    object-fit: cover;
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0px 0px; 
}

.imgact2{
    height: 205px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact3{
    object-fit: cover;
    height: 180px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact4{
    object-fit: cover;
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact5{
    object-fit: cover;
    height: 210px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact6{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/* FOOTER */

footer{
    background-color: #f2f2f2;
    padding-top: 10px;
    height: 200px;
    width: 100%;
}

.cardfooter1{
    width: 25%;
    height: 150px;
}

.cardfooter23{
    width: 25%;
    height: 150px;
}

.link{
    margin-bottom:25px;
}


/* RESPONSIVE */



    
