@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

Html,body{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: black;
}

.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexcolumnaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.flexcolumnbetween{
    display: flex;
    flex-direction:column;
    justify-content: space-between; 
}

.flexcolumncenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* HEADER */

header{
    height: 90px;
}

.logo{
    width: 150px;
    height: 65px;
    margin-bottom: 62px;
    margin-left: 28px;
}
.sizelinks{
    width: 35%;
    margin-bottom: 50px;
}

.sizelink{
    width: 140px ;
    height: 99px;
}

.sizelinks .sizelink a{
    text-decoration: none;
}

.colorlink{
    color: black;   
}
.colorlink3{
    color: #0065fc;
    font-weight: bold;
}

.colorlink:hover{
    color: #0065fc;
    transition: 0.2s;
    font-weight: bold;
}

.bordernav{
    border-top: 1px solid transparent;
}

.bordernav:hover {
    border-top: 1px solid #0065fc;
    transition: 0.5s;
}

h1 {
    font-size: 2rem;
}

.title{
    margin-left: 30px;
    margin-bottom: 20px;
}

/* MAIN */

.form {
    width: 400px;
    height: 40px;
    border-radius: 10px;
}


.mapicon{
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    border-radius: 1rem 0 0 1rem;
}

.search {
    height: 40px;
    width: 200px;
    font-size: 1,5em;
    color: black;
    border: 0.5px solid #f2f2f2;
    padding-left: 20px;
    font-weight: bold;
   
}
.form button {
    height: 40px;
    width: 90px;
    background-color: blue;
    border-radius: 0 1rem 1rem 0;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/*FILTRES*/

.margfilter{
    margin: 20px;
}

.filtersection{
    display: flex;
    align-items: center;
}

.filtertitle{
    margin-right: 20px;
}

.filters{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    display:flex;
    align-items: center;
}

.filters button{
    background-color: transparent;
    border:none;
    outline: none;
    padding:0px;
}

.filters i{
    margin:-2px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065fc;
    background-color: #deebff;
    display:flex;
    justify-content: center;
    align-items: center;
}

.filters label{
    font-weight: bold;
    padding: 10px 15px;
}

.filters:hover{
    background-color: #0065fc;
    color: white;
    border-left: transparent;
}

/*INFOS*/

.info{
    display: flex;
    align-items: center;
    margin: 20px;
}

.info i{
    color: #0065fc;
    width: 25px;
    height: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;  
    margin-right: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* HÉBERGEMENT */

/* HOST */

.hosting i{
    color: #0065fc;
}

.hosting .grey-star{
    color:#deebff;
}

.containerhost{
    flex: 2;
    height: 650px;
    margin: 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 15px;
}

.bloc1{
    margin-bottom: 10px;
}

.bloc2{
    margin-top: 10px;
}

.cardhost{
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cardhost:hover{
    cursor:pointer;
    transform:scale(1.05);
}

.imghost1{
    background-image: url("./img/host/marcus-loke.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;

}

.imghost2{
    background-image: url("./img/host/fred-kleber.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;

}

.imghost3{
    background-image: url("./img/host/reisetopia.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.imghost4{
    background-image: url("./img/host/annie-spratt.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.imghost5{
    background-image: url("./img/host/nicate-lee.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
  
.imghost6{
    background-image: url("./img/host/febrian-zakaria1.jpg");
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.cubhost{
    width: 90%;
}

.more{
    font-weight: bold;
    margin-top: 25px;
}

/* POPULAR */

.containerpopular{
    flex: 1;
    height: 650px;
    margin-right: 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding:15px;
}

.containerpopular .blackchart{
    color:black;
}

 .cardpop{
    width: 90%;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
 }

 .cardpop:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.imgpop1{
    background-image: url("./img/host/jemile-guillemot.jpg");
    width: 35%;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.imgpop2{
    background-image: url("./img/host/aw-creative.jpg");
    width: 35%;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.imgpop3{
    background-image: url("./img/host/febrian-zakaria2.jpg");
    width: 35%;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.cubpop{
    width: 60%;
    align-items: center;
}

/* ACTIVITY */

.blocactivity{
    width: 100%;
    height: 550px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.titleact{
    margin-left: 15px;
}



.cardact1{
    width: 23%;
    height: 500px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.cardact1:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.cardact2{
    width: 23%;
    height: 500px;
}

.carddetail2{
    width: 100%;
    height: 260px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
}

.carddetail2:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail3{
    width: 100%;
    height: 230px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.carddetail3:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail5{
    width: 100%;
    height: 260px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
    margin-bottom: 20px;
}

.carddetail5:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.carddetail6{
    width: 100%;
    height: 220px;
    box-shadow: 0px 0px 1px 2px #f2f2f2;
    border-radius: 20px;
}

.carddetail6:hover{
    cursor:pointer;
    transform:scale(1.02);
}

.imgact1{
    background-image: url("img/activity/reno-laithienne.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    
}

.imgact2{
    background-image: url("img/activity/paul-hermann.jpg");
    background-position: center;
    background-size: cover;
    height: 205px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

}

.imgact3{
    background-image: url("img/activity/kevin-hikari.jpg");
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact4{
    background-image: url("img/activity/kilyan-sockalingu.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact5{
    background-image: url("img/activity/florian-wehde.jpg");
    background-position: center;
    background-size: cover;
    height: 210px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.imgact6{
    background-image: url("img/activity/lena-paulin.jpg");
    background-position: center;
    background-size: cover;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

h4{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 15px;
}

/* FOOTER */

footer{
    background-color: #f2f2f2;
    padding-top: 10px;
    height: 200px;
    width: 100%;
}

.cardfooter1{
    width: 25%;
    height: 150px;
}

.cardfooter23{
    width: 25%;
    height: 150px;
}


